* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 1366px;
    height: fit-content;
    margin: 0 auto;
    border: 5px solid rgba(0, 0, 0, 0.1);

    header {
        height: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        .header-block {
            width: 1200px;
            height: 48px;
            display: flex;
            justify-content: space-between;
        }
    }

    main {
        height: fit-content;
        .title {
            height: 250px;
            background-image: url("images/tiitle.png");
    
            h1 {
                padding-top: 50px;
                display: flex;
                justify-content: center;
                font-size: 44px;
                line-height: 74px;
                color: white;
            }
            p {
                width: 780px;
                margin-top: 15px;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                font-size: 20px;
                line-height: 30px;
                color: rgba(255, 255, 255, 0.4);
            }
        }

        .contact-and-message {
            margin-top: 60px;
            display: flex;
            justify-content: space-between;

            .contact {
                margin-left: 210px;
                width: 320px;

                .contact-image {
                    background-image: url("images/contacts.png");
                    margin: 0 auto;
                    height: 180px;
                }

                .contact-adress {
                    margin-top: 70px;
                    width: 300px;
                    height: fit-content;
                    h2 {
                        font-size: 20px;
                        line-height: 30px;
                        color: #1F3F68;
                    }
                    p {
                        margin-top: 25px;
                        font-size: 16px;
                        line-height: 26px;
                        color: #1F3F68;
                        opacity: 0.6;
                    }
                }

                .contact-phone {
                    margin-top: 40px;
                    width: 300px;
                    height: fit-content;
                    h2{
                        font-size: 20px;
                        line-height: 30px;
                        color: #1F3F68;
                        margin-bottom: 25px;
                    }
                    
                    .img-and-phone {
                        
                        display: flex;
                        .phone-image {
                            margin-right: 20px;
                            background-image: url("images/phone_18px.png");
                            background-repeat: no-repeat;
                            background-position: center;
                            opacity: 0.6;
                            width: 24px;
                            height: 24px;
                            padding: 3px;
                        }
                        .phone {
                            margin-bottom: 15px;
                            font-size: 16px;
                            line-height: 26px;
                            color: #1F3F68;
                            opacity: 0.6;
                        }
                    }
                }

                .contact-online {
                    margin-top: 40px;
                    width: 300px;
                    height: fit-content;
                    .contact-web-and-email {
                        .contact-web {
                            display: flex;
                            margin-bottom: 15px;
                            .contact-web-image {
                                margin-right: 20px;
                                background-image: url("images/language.png");
                                opacity: 0.6;
                                width: 20px;
                                height: 20px;
                                padding: 2px;
                            }
                            .contact-web-address {
                                font-size: 16px;
                                line-height: 26px;
                                color: #1F3F68;
                                opacity: 0.6;
                            }
                        }
                        .contact-email {
                            display: flex;
                            .contact-email-image {
                                margin-right: 20px;
                                background-image: url("images/email.png");
                                opacity: 0.6;
                                background-repeat: no-repeat;
                                background-position: center;
                                width: 20px;
                                height: 20px;
                                padding: 2px;
                            }
                            .contact-email-address {
                                font-size: 16px;
                                line-height: 26px;
                                color: #1F3F68;
                                opacity: 0.6;
                            }
                        }
                    }
                }

            }

            .message {
                margin-right: 210px;

                form {
                    width: 540px;
                    height: 800px;
                    border-radius: 10px;
                    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
                    padding: 55px;
                    fieldset {
                        border: none;
                        h2 {
                            margin-bottom: 50px;
                            font-size: 20px;
                            line-height: 30px;
                            color: #1F3F68;
                        }
                        input {
                            width: 100%;
                            height: 70px;
                            margin-bottom: 30px;
                            border-radius: 10px;
                            border: 1px solid #356EAD;
                            padding-left: 35px;
                            
                        }
                        textarea {
                            width: 100%;
                            height: 145px;
                            border-radius: 10px;
                            border: 1px solid #356EAD;
                            resize: none;
                            padding-left: 35px;
                            padding-top: 20px;
                        }
                        ::placeholder {
                            font-size: 16px;
                            line-height: 30px;
                            color: #1F3F68;
                            opacity: 0.2; 
                        }
                        .tittle {
                            margin-bottom: 10px;
                            font-size: 16px;
                            line-height: 30px;
                            color: #1F3F68;
                            opacity: 0.8;
                        }
                        button {
                            margin-top: 95px;
                            width: 100%;
                            height: 70px;
                            border: none;
                            border-radius: 10px;
                            background-color: #5A98D0;
                            font-size: 16px;
                            line-height: 26px;
                            text-align: center;
                            color: #FFFFFF;
                            filter: drop-shadow(5px 10px 20px rgba(16, 112, 177, 0.2));
                        }
                    }
                    
                }

            }
        }

        .map {
            margin-top: 100px;
            height: 480px;
            background-image: url("images/map.png");
            background-repeat: no-repeat;
            background-size: 940px 480px;
            background-position: center;
            
        }
    }

    .footer {
        font-family: 'Roboto', sans-serif;
        height: 870px;
        width: 1270px;
        margin-top: 95px;
        background: #316099;;
        border-radius: 0px 200px 0px 0px;

        .top-footer {
            height: 380px;
            width: 1075px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid rgba(255, 255, 255, 0.4);

            .work-info {
                margin-left: 210px;
                width: 460px;
                height: 205px;

                .work-info-header {
                    
                    font-size: 36px;
                    line-height: 46px;
                    color: #FFFFFF;
                    margin-bottom: 30px;
                    
                }

                .work-info-text {
                    font-size: 16px;
                    line-height: 26px;
                    color: #FFFFFF;
                    opacity: 0.6;
                }

            }

            button {
                width: 180px;
                height: 55px;
                background-color: #5A98D0;
                font-size: 16px;
                line-height: 26px;
                text-align: center;
                color: #FFFFFF;
                border: none;
                border-radius: 10px;
            }

        }

        .bottom-footer {

            margin-top: 100px;
            

            .info {

                display: flex;

                .contacts {
                    width: 300px;
                    font-size: 16px;
                    line-height: 26px;
                    color: #FFFFFF;
                    margin-left: 210px;
                    margin-right: 100px;
    
                    .footer-logo {
                        display: flex;
                        align-items: center;
                        margin-bottom: 30px;
    
                        .name {
                            margin-left: 15px;
                            font-size: 28px;
                            line-height: 46px;
                            color: #FFFFFF;
                        }
                    }
    
                    .contact-data {
                        display: flex;
    
                        .adress,
                        .telephone,
                        .email {
                            margin-left: 15px;
                        }
    
                        .adress,
                        .telephone {
                            margin-bottom: 25px;
                        }
    
                        
                    }
                    
                }
    
                .about {
                    width: 165px;
                    height: 215px;
                    margin-right: 80px;
    
                    h5 {
                        margin-bottom: 30px;
                        font-size: 20px;
                        line-height: 30px;
                        color: #FFFFFF;
                    }
    
                    p {
                        margin-top: 15px;
                    }
    
                    a { 
                        text-decoration: none;
                        font-size: 16px;
                        line-height: 26px;
                        color: #FFFFFF;
                    }
    
                }
    
                .follow {
                    width: 100px;
                    height: 215px;
                    
                    h5{
                        margin-bottom: 30px;
                        font-size: 20px;
                        line-height: 30px;
                        color: #FFFFFF;
                    }
    
                    p {
                        margin-top: 15px;
                    }
    
                    a {
                        
                        text-decoration: none;
                        font-size: 16px;
                        line-height: 26px;
                        color: #FFFFFF;
                    }
                }
            }

            .copyright {
                margin-left: 210px;
                margin-top: 65px;
                font-size: 16px;
                line-height: 26px;
                color: #FFFFFF;
                opacity: 0.4;
            }

        }

    }

}